@let bList = books();

<a mat-flat-button color="warn" (click)="showFirstBook()" class="mb-3">
  show First in the chart
</a>

@if (!toggleForm) {
<a mat-raised-button color="primary" (click)="toggle()" class="mb-3 ms-2">
  add new book
</a>
} @else {
<a mat-flat-button color="primary" (click)="toggle()" class="mb-3 ms-2">
  add new book
</a>
}


@if (toggleForm) {
  <div class="k-pop-up-form">
    <header class="k-pop-up-form-header">
          <button mat-mini-fab (click)="toggle()">
      <mat-icon>close</mat-icon>
    </button>
    </header>
    <k-book-form [currentBook]="currentBook()"
             (create)="addBook($event)"
             (edit)="changeBook($event)" />

  </div>
}

@for (book of bList; track book.isbn) {

<k-book (rateUp)="doRateUp($event)"
        (rateDown)="doRateDown($event)"
        (edit)="changeToEditMode($event)"
        [book]="book" />

} @empty {
<p> Keine Bücher vorhanden</p>
}

@if (loading()) {
  <h3>Lade Bücher</h3>
}

<p>
  <strong>Anzahl Bücher:</strong> {{ bList.length }}
</p>
